h1 {
	text-align: center;
	border: 2px solid grey;
	font-family: HelveticaNeue-Heavy;
	background-color: lightgray;
	margin-top: 0px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

h2 {
	font-size: 15px;
	text-align: center;
}

body {
	margin-top: 0px;
	padding-top: 0px;
	background: url(back.png); top center no-repeat;
}

.gay {
	margin-left: 33%;
	margin-right: 33%;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

a {
	color: black;
	text-decoration: none;
}

div {
	background-color: lightgray;
	padding: 8px;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid grey;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	border-radius: 10px;
	height: 100%;


}

p {
	color: black;
	font-family: comic-sans;
	margin: 10px;
}

object {
	width: 100%;
	scroll-behavior: smooth;

}

input {
	width: 99%;
	height: 20px;
	border-radius: 5px;
	text-align: center;
}

.yes_no {
	margin-left: 33%;
	margin-right: 33%;
}

.video {
		
	display: inline-block;
}

